.DS_Store
/Webserver/node_modules
/Webserver/dist
/Webserver/.env
/Webserver/logs/*
/Webserver/resources/public/upload/*
/Webserver/assets/resources/js/*

/Webserver/resources/public/css/*
/Webserver/resources/public/js/*

.vagrant
.git
node_modules
logs
*.log
.idea
package-lock.json

Webserver/src/api/dev/DevController.ts
